/* styles.css */
html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
}

body {
  background-color: rebeccapurple;
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.winnerContainer {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verticalWin {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.vertical {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.small-board {
  display: grid;
  grid-template-columns: repeat(10, 20px);
  grid-template-rows: repeat(10, 20px);
  border-color: black;
  border: 1px solid black;
  background-color: aliceblue;
  margin: 1em;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  border-color: black;
  border: 1px solid black;
  background-color: aliceblue;
  margin: 1em;
}

.missClass {
  background-color: #a83232;
}

.hitClass {
  background-color: #2bcf26;
}

.hoverGray:hover {
  background-color: #a8a8a8;
}


.board div {
  height: 100%;
  width: 100%;
  /* background-color: green; */
  border: 1px solid black;
}

.small-board div {
  height: 75%;
  width: 75%;
  padding: 0.1em;
}

.non-ship-location {
  border: 1px solid black;
}

.ship-location {
  border: 1px solid rgb(255, 81, 0);
}

p {
  color: white;
}